{% extends 'base.html' %}
{% block content %}

<div class="content-wrapper">
    <div class="page-heading">
        <h1 class="page-title">Edit Media</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html"><i class="la la-home font-20"></i></a>
            </li>
        </ol>
    </div>
    <div class="page-content fade-in-up">
        <div class="row">
            <div class="col-md-6">
                <div class="ibox">
                    
                    <div class="ibox-body">
                        <form action="{% url 'news_list' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <form>
                            <div class="row">
                                <label>Date </label>
                                <input class="form-control" type="datetime" name="date" placeholder="Date">
                                <label>what_account </label>
                                <input class="form-control" type="text" name="what_account" placeholder="what_account">
                                <label>photo </label>
                                <input class="form-control" type="file" name="photo" placeholder="photo">
                                <label>video </label>
                                <input class="form-control" type="file" name="video" placeholder="video">
                            </div>
                        </div>
                        <div class="form-group">
                            <label></label>
                            <select  name="first_command_name" id="first_command">
                                {%for i in commants%}
                                    <option value="{{ i.id }}">{{i.name}}</option>
                                {%endfor%}
                            </select>
                        </div>
                        <div class="form-group">
                            <label></label>
                            <select  name="second_command_name" id="second_command">
                                {%for i in commants%}
                                    <option value="{{ i.id }}">{{i.name}}</option>
                                {%endfor%}
                            </select>
                        </div>
                            
                            <div class="form-group">
                                <button class="btn btn-default" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}